* {
  box-sizing: border-box;
}

.navbar h1{
  padding-left: 415px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; 
  color: white;
}  

.currentCityResults {
  padding-left: 500px;
  padding-top: 10px;
}

.forecastResults {
  padding-left: 500px;
  padding-top: 40px;
}

h3 {
  /* width: 65%;*/
  padding-left: 4px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol'; 
  color: black;   
  }

